* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  width: 100vw;
  height: 100vh;
  background: rgb(34, 193, 195);
  background: linear-gradient(
    180deg,
    rgba(34, 193, 195, 1) 0%,
    rgba(253, 187, 45, 1) 100%
  );
  font-family: "Ysabeau SC", sans-serif;
}

header {
  height: 6rem;
  font-size: 1.7rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  font-size: 2rem;
  padding: 3rem;
}

.title {
  margin-right: 10rem;
  padding-right: 10rem;
}

.profile-hi {
  margin-left: 10rem;
  font-size: 1.7rem;
}

.login {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 3rem;
  margin-top: 5rem;
}

.login-width {
  width: 10rem;
  height: 0.1rem;
  background-color: black;
}

.user-login {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem;
  border: none;
}

.user {
  width: 15rem;
  height: 1.7rem;
  background: transparent;
  border: none;
  font-size: 1.2rem;
  font-weight: 400;
  font-family: "Ysabeau SC", sans-serif;
  outline: none;
}

.password {
  width: 15rem;
  height: 1.7rem;
  background: transparent;
  border: none;
  font-size: 1.2rem;
  font-weight: 400;
  font-family: "Ysabeau SC", sans-serif;
  outline: none;
}

.sign {
  width: 8rem;
  height: 2.2rem;
  font-size: 1.2rem;
  margin-top: 3.5rem;
  font-weight: 400;
  font-family: "Ysabeau SC", sans-serif;
  box-shadow: 1px 2px rgb(73, 79, 80);
  cursor: pointer;
}

.google-sign {
  width: 8rem;
  height: 2.2rem;
  margin-top: -1rem;
  font-size: 1.2rem;
  font-weight: 500;
  font-family: "Ysabeau SC", sans-serif;
  box-shadow: 1px 2px rgb(73, 79, 80);
  cursor: pointer;
  background: linear-gradient(
    90deg,
    rgb(19, 8, 237) 0%,
    rgb(255, 255, 255) 35%,
    rgba(0, 212, 255, 1) 100%
  );
}

.signForm {
  width: 8rem;
  height: 2.2rem;
  margin-top: -1rem;
  font-size: 1.2rem;
  font-weight: 400;
  font-family: "Ysabeau SC", sans-serif;
  box-shadow: 1px 2px rgb(73, 79, 80);
  cursor: pointer;
  background: transparent;
  outline: none;
}
