@import url("https://fonts.googleapis.com/css2?family=Ysabeau+SC:wght@1;100;400;500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  font-family: "Ysabeau SC", sans-serif;
  overflow-y: hidden;
}

.start-Category {
  margin-top: 2rem;
}

.quit-top {
  display: flex;
  align-items: center;
  justify-content: start;
  margin-left: 1rem;
  padding: 1rem;
  font-size: 1.5rem;
  font-weight: 400;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: black;
}

.leaderboard-cat {
  display: flex;
  align-items: center;
  margin-left: 45rem;
  font-size: 1.5rem;
  color: rgb(35, 80, 87);
  cursor: pointer;
}

.history-cat {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  color: rgb(35, 80, 87);
  cursor: pointer;
}

.user-icon {
  display: flex;
  align-items: center;
  font-size: 2.2rem;
  color: rgb(35, 80, 87);
  cursor: pointer;
}

.popup {
  position: absolute;
  width: 20rem;
}

.user-icon-id {
  width: 100%;
}

.Categories {
  display: flex;
  align-items: center;
  justify-content: start;
  flex-wrap: wrap;
  gap: 7rem;
  margin-top: 7rem;
  margin-left: 15rem;
}

.categ-btn {
  width: 11rem;
  height: 8rem;
  font-size: 1.2rem;
  font-family: "Ysabeau SC", sans-serif;
  font-weight: 500;
  color: rgb(35, 80, 87);
  border-radius: 8px;
  box-shadow: 1.8px 1.5px;
  transition: background-color 0.4s ease-in-out;
  cursor: pointer;
}

.categ-btn:hover {
  background: linear-gradient(to right, #31d1e3, #dbd334);
}
